*{
    box-sizing: border-box; 
    margin: 0px;
}

body{
    font-family: Calibri;
    margin: 0;
}

.container{
    margin: auto;
}

/* Header */
header{
    background-color: rgb(24, 69, 190);;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header #logo{
    padding: 20px 25px;
    font-size: 16px;
    align-items: center;
}

header nav{ 
    padding: 13px 120px; 
    font-size: 13px;
}

header nav a {
    margin: 22px;
    font-weight: lighter;
}

header a{
    text-decoration: none;
    font-weight: normal;
    color: white;
}

header a:hover{
    color: blue;
}

/*Primera sección*/
section {
    display: flex;
    justify-content: center;
}

section .container1{
    height: 300px;
    width: 235px;
    margin: 40px;
    color: grey;
}

#foto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 1px;
    height: 120px;
    width: 135px;
    border-radius: 50%;
    text-align: center;
    margin: 0px 37px;
    font-size: 13px;
}

.container2{
    height: 90px;
    width: 135px;
    position: absolute;
    display: flex;
    align-items: center;
}

#detalle{
    border: solid 1px;
    height: 2.5px;
    width: 10px;
    border-radius: 50%;
}

section div h2 {
    font-size: 12px;
    border: solid 1px;
    padding: 5px;
    font-weight: normal;
    margin: 9px;
    text-indent: 3.5em;
}

section div h2:first-child {
    border: 0px;
}

section div h2:nth-child(3){
    border: 0px;
    text-indent: 6em;
}

section div h2:nth-child(4){
    text-indent: 2.5em;
}

/*Segunda Seccion*/

.container3{
    height: 100px;
    width: 90%;
    border: solid 1px;
    border-radius: .5em;
}

#descripcion{
    
}