*{
    box-sizing: border-box; 
    margin: 0px;
}

body{
    font-family: Calibri;
    margin: 0;
}

.container{
    margin: auto;
}

/* Header Para todos*/
header{
    background-color: rgb(24, 69, 190);;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header #logo{
    padding: 20px 25px;
    font-size: 16px;
    align-items: center;
}

header nav{ 
    padding: 13px 120px; 
    font-size: 13px;
}

header nav a {
    margin: 22px;
    font-weight: lighter;
}

header a{
    text-decoration: none;
    font-weight: normal;
    color: white;
}

header a:hover{
    color: blue;
}

/*Primera sección - Para todos*/
section {
    display: flex;
    justify-content: center;
}

#foto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 1px;
    height: 120px;
    width: 135px;
    border-radius: 50%;
    text-align: center;
    margin: 0px 37px;
    font-size: 13px;
}

#detalle{
    border: solid 1px;
    height: 2.5px;
    width: 10px;
    border-radius: 50%;
}

/*datos personales*/
section .containerdp1{
    height: 310px;
    width: 235px;
    margin: 25px;
    color: grey;
}

.containerdp2{
    height: 90px;
    width: 135px;
    position: absolute;
    display: flex;
    align-items: center;
}

#h2dp {
    font-size: 12px;
    border: solid 1px;
    padding: 5px;
    font-weight: normal;
    margin: 9px;
    text-indent: 3.5em;
}

#h2dp:first-child {
    border: 0px;
}

#h2dp:nth-child(3){
    border: 0px;
    text-indent: 6em;
}

#h2dp:nth-child(4){
    text-indent: 2.5em;
}

/*contacto*/

.containerc1{
    padding: 10px 10px;
    height: 320px;
    width: 30%;
    color: grey;
    position: relative;
    left: 70px;
}

.containerc2{
    padding: 0px 45px;
}

.containerc3{
    height: 90px;
    width: 135px;
    position: absolute;
    display: flex;
    align-items: center;
}

#encabezado{
    font-size: 50px;
    font-weight: normal;
}

#h2c {
    width: 225px;
    font-size: 12px;
    border: solid 1px;
    padding: 5px;
    font-weight: normal;
    margin: 9px;
    text-indent: 3.5em;
}

#h2c:first-child {
    border: 0px;
}

/*Pasatiempo*/

#fotop{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 1px;
    height: 120px;
    width: 135px;
    border-radius: 50%;
    text-align: center;
    margin: 0px 45px;
    font-size: 13px;
}

#encabezadop{
    font-size: 50px;
    font-weight: normal;
    position: relative;
    left: 20px;
}

#h2p {
    width: 225px;
    height: 26px;
    font-size: 12px;
    border: solid 1px;
    padding: 5px;
    font-weight: normal;
    margin: 9px;
    text-indent: 5em;
}

#h2p:first-child {
    border: 0px;
}

.containerp1{
    padding: 10px 37%;
    height: 320px;
    width: 100%;
    color: grey;
}

#detallep{
    border: solid 1px;
    height: 2.5px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    right: 640px;
}

.containerp3{
    padding: 15px 3px;
}

/*Segunda Seccion - Para todos*/

#descripcion{
    display: flex;
    height: 100px;
    display: flex; 
    margin: 37px 38%;
}

/*datospersonales*/

.containerdp3{
    height: 100px;
    width: 90%;
    border: solid 1px;
    border-radius: 30em;
    color: grey;
    margin: 25px;
}
.containerdp4{
    padding: 10px;
    height: 156px;
}

/*contacto*/
.containerc5{
    height: 100px;
    width: 90%;
    border: solid 1px;
    border-radius: 30em;
    color: grey;
    margin: 40px;
}

.containerc4{
    padding: 10px;
    height: 196px;
}

/*pasatiempo*/

.containerp4{
    padding: 40px;
    height: 196px;
}

.containerp5{
    height: 80px;
    width: 90%;
    border: solid 1px;
    border-radius: 30em;
    color: grey;
    margin: 40px;
}

#descripcionp{
    display: flex;
    height: 100px;
    display: flex; 
    margin: 30px 38%;
}

/* Footer - Para todos*/
footer div{ 
    font-size: 13px;
    color: grey;
 
}

.container4{
    position: relative;
    left: 45%;
    padding: 5px;
}

.container5{
    width: 100px;
    height: 30px;
    align-items: flex-end;
    position: relative;
    left: 47%;
}

footer div img{
    width: 17px;
    height: 17px;
    margin: 2px;
}




